:root {
  --color-background: #2b2c34;
  --color-background-secondary: #333441;
  --color-foreground: #eaf0f4;
  --color-contrast: #7f9fe5;
  background-color: var(--color-background);
  color: var(--color-foreground);
  color-scheme: dark;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

main {
  padding: 2rem;
  margin-block-start: 2rem;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

a {
  color: var(--color-foreground);
  text-underline-offset: 2px;
}

.best-summary {
  background-color: var(--color-background-secondary);
  margin: 0 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
